################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/ImmoPredict/obj
/ImmoPredict/.vs/ImmoPredict.slnx
/ImmoPredict/.vs/ImmoPredict/CopilotIndices/18.4.105.37992
/ImmoPredict/.vs
/ImmoPredict/bin/Debug/net10.0
/ImmoPredict.Api/obj
/ImmoPredict.Api/bin/Debug/net10.0
*.sqlite
/ImmoPredict.Client/.vscode
/ImmoPredict.Client/obj/Debug
/.vs
